dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11
gunicorn==19.7.1
Jinja2==2.7.3
jmespath==0.9.3
linecache2==1.0.0
psycopg2==2.7.4
ptyprocess==0.5
pycrypto==2.6.1
pygobject==3.20.0
pyodbc==3.0.7
pyparsing==2.2.0
pyrsistent==0.11.13
pysqlite==2.7.0
pystache==0.5.4
python-dateutil==2.6.1
python-editor==1.0.3
python-mimeparse==1.5.1
pytz==2017.3
requests==2.9.1
static==1.1.1
static3==0.7.0
virtualenv==15.1.0
Werkzeug==0.9.6
WTForms==2.0.2
